body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: white;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

.header h3,
.header h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.header h3 {
  color: #666;
}

.header-networks > a {
  font-size: 1.25rem;
  color: #aaa;
  margin: 0.325rem;
}

.header-networks > a:hover {
  color: #666;
  transition: all ease 200ms;
}

a.facebook:hover {
  color: rgb(45, 136, 255);
}

a.twitter:hover {
  color:  #1A91DA;
}

a.youtube:hover {
  color:  #ff0000;
}

a.instagram:hover {
  color:  #7232BD;
}


.container {
  background-color: #decfc1;
  padding: 1rem;
}

.container > * {
  margin: auto;
  max-width: 970px;
}

h4 {
  align-items: center;
  font-size: 1.325rem;
}

.container > form {
  margin: 2rem auto;
  padding: 1em;
  border-radius: 1em;
  max-width: 600px;
}

.field {
  display: flex;
}

.field.civilite {
  margin-bottom: 0.75rem;
}

.field-label {
  display: block;
  width: 33%;
  text-align: right;
  padding-right: 1rem;
}

input {
  box-shadow: 0px 0px 0px 1px #999;
  transition: all ease 200ms;
  border-radius: .325rem;
  border: 0;
  outline: 0;
}

input:not([type="checkbox"]) {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
}

input:hover {
  box-shadow: 0px 0px 0px 2px #EC6412;
}

input:focus {
  box-shadow: 0px 0px 0px 2px #361d0d;
  border: 0;
  outline: 0;
}

textarea {
  height: 5em;
}


.action {
  padding: 1rem;
  text-align: center;
}

button {
  position: relative;
  border: 0;
  border-radius: .325rem;
  background-color: #ec6412;
  padding: 0.75rem 1rem;
  color: #fff;
  transition: 
    color ease 0.2s,
    padding ease 0.2s,
    background-color ease 0.3s,
    box-shadow ease-out 0.3s 0.1s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

button .icon {
  color: #fff;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: all ease 200ms;
}

button:hover {
  background-color: white;
  color: #EC6412;
  cursor: pointer;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.15);
  padding-left: 2.5rem;
}

button:hover .icon {
  color: #EC6412;
  opacity: 1;
  transform: translateX(1rem);
}

.image2 {
  padding-top: 5px;
  padding-left: 420px;
  text-align: center;
}

.don {
  display: block;
  position: absolute;
  padding-left: 1800px;
  padding-top: 150px;
}

.cute {
  display: block;
  position: absolute;
  padding-top: 38px;
  padding-left: 10px;
}

.receuillis {
  margin-right: 60px;
}

.soignes {
  margin-right: 60px;
}

.stats {
  text-align: center;
  padding-top: 5px;
}

.bottom {
  background-color: #41392e;
  color: #95918c;
  padding: 1rem;
}

.textbottom {
  padding-left: 485px;
  padding-bottom: 100px;
  cursor: pointer;
}

p {
  display: inline;
  font-size: 1.325rem;
  cursor: pointer;
}

p:hover {
  color: white;
}

.mention {
  margin-right: 30px;
}

.plan {
  margin-right: 30px;
}

.refuges {
  margin-right: 30px;
}

.presse {
  margin-right: 30px;
}

.appel {
  margin-right: 30px;
}
